body{
    height:100%;
}

video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right:0;
    bottom:0;
    z-index: 1;
/*
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
*/
    
    
}
a{
    display: inline-block;
    padding:12px 48px;
    border:solid 4px rgb(255,60,100);
    text-decoration: none;
    font-size: 24px;
    color:rgb(255,60,100);
    
}


div{
    position:relative;
    z-index:2 ;
    margin:0 auto;
    width: 720px;
    margin-top: 300px;
    text-align: center;
}
h1{
    margin-bottom: 25px;
    color:rgb(39,39,39);
    font-size: 64px;
    background-color: yellow;
    opacity:0.5;
    font-family: 'Spirax', cursive;
    width:1024px;
    margin-left: -150px;
    
}
p{
    color: white;
    background-color: grey;
    opacity: 0.7;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    
}
